html{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: lime;
}
#container > *{
    margin: 1em;
}

.smallest-image{
    display: none;
}
h1{
    font-family: 'VT323', sans-serif;
    font-size: 300%;
    text-align: center;
    color: lime;
    width: 100%;
}
h2{
    font-family: 'VT323', sans-serif;
    width: 100%;
    text-align: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border-style: solid;
    border-color: silver;
    border-width: 1px;
}

img{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    border-radius: 1em;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    border-style: solid;
    border-color: silver;
    border-width: 1px;
}
.gallery-item{
    display: flex;
    flex-direction: column;

    margin: 1em;
}
.gallery-item img:hover{
    opacity: 0.5;
    color: white;

    transition: opacity 500ms;
}

.gallery-item p{
    display: none;
}

#about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 1em;

    color: white;

    border-style: solid;
    border-color: silver;
    border-width: 1px;
}

footer{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
}

a{
    color: cyan;
}
/*Largish monitors*/
@media (min-width: 1024px){
    html{
        padding: 0em 15%;
    }
}

/*Phone screens*/
@media (max-width: 480px){
    .full-image{
        display: none;
    }
    .smallest-image{
        display: block;
    }
    nav a{
        width: 100%;
    }
    #about{
        justify-content: center;
    }
}